# Ignore .gitignore
.gitignore

# Ignore ULTA specific files
ulta-*

# Ignore commit message file 

commit-message.txt

# Ignore apply outputs
apply-output*

# Ignore State files
terraform.tfstate*

# Ignore terraform directory
.terraform/

# Ignore OSX files
.DS*
